<h2>Movies With Same Director</h2>
<p>Director: <%= @movie.director %></p>

<table id="movies" class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |m| %>
      <tr>
        <td><%= link_to m.title, movie_path(m) %></td>
        <td><%= m.rating %></td>
        <td><%= m.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>